*{
    margin: 0;
    padding: 0;
    font-family: monospace;

}
.banner{
    background: linear-gradient(rgba(250, 222, 195, 0.523),rgba(250, 222, 195, 0.523)), url(images/background.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.navbar{
    width: 100%;
    height: 20px;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fffef8;
    opacity: 70%;

}
.logo{
    width: 300px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #735353;
    text-transform: uppercase;

}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #f9dc8b;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;

}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #735353;
    
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{ 
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 1.5px solid #735353;
    background: transparent;
    color: #735353;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}
span{
    background: #ffdc7afa;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}

/*----messages----*/

#messages{
    width: 100%;
    padding: 70px 0;

}
.messages-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

}
.title-text{
    width: 100%;
    position: absolute;
    top: 18%;
    transform: translateY(-50%);
    text-align: center;
    color: #735353;
}
.messages-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #c7b59f;
    cursor: pointer;
    transition: transform .5s;
    background-color: #f7f1e8e8;
    
}
.messages-col p{
    font-size: 15px;
    margin: 10px 0;
    margin-left: 10px;
}
.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.user-info small{
    color: #9ca8a7;
}
.messages-col:hover{
    transform: translateY(-7px)
}