*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    background: url(images/persephone-background.jpg);
    height: 100%;
    background-position: center;
}

.button {
    width: 400px;
    padding: 10px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 30px;
    font-weight: bold;
    border: 1.5px solid #735353;
    background: transparent;
    color: #735353;
    cursor: pointer;
    position: relative;
}

.button:hover{
    filter:brightness(0.9);
}


.button:active {
    transform: translateY(2px);
}

.chat-container {
    background:#E3A393; 
    border-radius: 7px;
    padding: 8px 10px;
    margin: 30px auto;
    max-width: 540px;
    height: 650px;
    box-shadow: 0 0 20px 8px #e4aea4;
   
}

.chat-header {
    margin-bottom: 10px;
    color: #ffffff;
    width: 100%;
    height: 80px;
    margin: 10px 0;
    background: #B5838D;
    text-align: center;
    border-radius: 30px;
    
 
}

.chat-header h2 {
    font-size: 1.25em;
    font-weight: bold;
    margin: center;
    height: 50px;
    text-align: center;
    bottom: 50%;
        
}

.back-icon img{
    width: 6%;
    margin-top: 20px;
    margin-left: 5%;
    display: flex;
    justify-content: flex-start;
    float: left;
    padding: 5px;
  

}

.home-icon img{
    width: 10%;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    float: inline-start;
    padding: 5px;
    
}

.user img {
    width: 50px;
    margin-top: 15px;
    margin-right: 27px;
    padding-right: 25px;
}

.chat-messages {
    height: 500px;
    overflow-y: scroll;
}

.chat-messages:-webkit-scrollbar {
    display: none;
    
}

.message-right {
    background-color: #F4F4F4;
    max-width: 60%;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    margin-bottom: 0.625em;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 20px 0;
    margin-left: 40%;
    justify-content: flex-end;
    align-content: end;
    
    
}

.message-left {
    background-color: #FFE4EE;
    max-width: 60%;
    padding: 12px 16px;
    border-radius: 10px 10px 10px 0;
    margin-bottom: 0.625em;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin: 20px 0;
    align-items: start;
}

.message-sender {
    font-weight: bold;
    margin-bottom: 2px;
}

.message-text {
    font-size: 14px;
    margin-bottom: 5px;
    word-wrap: break-word;
    width: 100%;
}

.chat-input-form {
    display: flex;
    align-items: center;
    margin-top: 2em;


}

.chat-input {
    padding: 0.625em;
    border: none;
    border-radius: 30px;
    background-color:#FFE4EE;
    color: #735353;
    font-size: 1em;
    flex-grow: 1;
}

.send-button {
    margin-left: 0.625em;
}
